@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #002c40;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #edf2f4;
  letter-spacing: 1px;
  font-weight: 800;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.h1-span{
  margin: auto;
  color: #edf2f4;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* .logo-header, img {
  width: 150px;
  height: 100px;
  background-size: cover;
  margin: auto;
  display: inline-block;
} */

.form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  color: #edf2f4;
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  /* Subtract padding from width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 10px 0 20px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

input[type="number"] {
  width: calc(100% - 20px);
  /* Subtract padding from width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#subscription-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

p {
  margin: 20px 0;
}

ol {
  margin: 10px 30px;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
  color: #333;
}

input[type="text"][name="name"][disabled] {
  text-align: center;
  background-color: #d2d2d2;
  font-size: 1rem;
  font-weight: bold;
}

input[type="text"][name="start-date"][disabled] {
  text-align: center;
  background-color: #d2d2d2;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
    margin: 50px 20px;
  }

  h1 {
    font-size: 24px;
  }

  input[type="date"],
  select {
    width: 100%;
  }

  input[type="number"],
  select {
    width: 100%;
  }

  input[type="text"][name="name"][disabled] {
    width: 100%;
  }

  input[type="text"][name="start-date"][disabled] {
    width: 100%;
  }

  button {
    margin-top: 0.5rem;
    width: 100%;
  }
}